{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Account Details</h1>

    {% if current_user.is_authenticated %}
        <div class="account-info">
            <h2>Personal Information</h2>
            <p><strong>Account Number:</strong> {{ current_user.id }}</p>
            <p><strong>Email:</strong> {{ current_user.email }}</p>
            <p><strong>First Name:</strong> {{ current_user.firstname }}</p>
            <p><strong>Last Name:</strong> {{ current_user.lastname }}</p>
            <p><strong>Phone Number:</strong> {{ current_user.phone }}</p>
        </div>
        {% if current_user.role == "end_user" %}
        <div class="user-posts">
            <h2>Your Posts</h2>
            {% for post in current_user.posts %}
            <div class="card mb-3">
                <div class="card-header bg-dark text-white">
                    <h3>{{ post.decrypted_title }}</h3>
                    <small>
                        Posted by {{ post.user.firstname }} {{ post.user.lastname }}
                        on {{ post.created.strftime('%Y-%m-%d %H:%M:%S') }}
                    </small>
                </div>
                <div class="card-body">
                    <p>{{ post.decrypted_body }}</p>
                </div>

                <div class="card-footer">
                    <a href="{{ url_for('posts.update', id=post.id) }}">Update</a>
                    <a href="{{ url_for('posts.delete', id=post.id) }}">Delete</a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <p>You must be logged in to view this page.</p>
        <a href="{{ url_for('accounts.login') }}">Login</a>
    {% endif %}
</div>
{% endblock %}