{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>MFA Setup</h1>
    <div class="p-2 row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <p>Follow these instructions to set up MFA:</p>
                <div>
                    <p>Download an authenticator app (e.g., Google Authenticator).</p>
                    <p>Scan the QR code or manually enter the MFA key.</p>
                </div>


                <p>Your MFA key is: <span class="text-monospace">{{ user.mfa_key }}</span></p>
            </div>
            <form method="POST">
                <div class="p-2 bg-light border border-primary">
                    <div style="text-align: left">
                        {{ form.csrf_token() }}

                        <div class="form-group">
                            {{ form.mfa_pin.label }}<span class="text-danger">*</span>
                            {{ form.mfa_pin(class="form-control") }}
                        </div>
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </div>
            </form>
            <div class="mt-3 text-center">
                <img src="{{ qrcode(uri, box_size=5, border=5) }}">
            </div>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            onclick=delete_flash(this)>
                        <span>&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}